{% extends 'base.html' %}
{% load static %}
{%block content1 %}



<section class="section page-title"  style="background-image:url({% static 'images/doctor-patient-catoon.jpg' %})">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 m-auto">
				<!-- Page Title -->
				<h2>About Us</h2>
				<!-- Page Description -->
				<h3>About Malaria Diagnostic System</h3>
			</div>
		</div>
	</div>
</section>
<br />
<br />
<section class="founders section pt-0">
	<div class="container">
		<div class="row">

            <div class="col-lg-6">
				<!-- Featured Member -->
<div class="founder">
	<!-- Member Image --><!-- Name -->
	<img src="{% static 'images/doctor1 and patient.jpg' %}" class="img-fluid">
	<!-- Social Sites -->
	</div>
			</div>
			<div class="col-lg-6">
				<!-- Featured Member -->
<div class="founder">
	<!-- Member Image -->
	<!-- Name -->
	<h2>About Malaria Diagnostic System</h2>
	<h6>For centuries, humans have been plagued with malaria,
        a disease that seems to prevail over strategies used
        to combat it. It is becoming more challenging through
        the emergence of antimalarial drug resistance.
        The female Anopheles mosquito serves as a competent
        vector to transmit the Plasmodium parasite to human
        hosts with each blood meal. The mosquito remains unharmed
        by the parasite, and its ubiquitous nature ensures the
        transmissibility of the disease. According to the World
        Health Organization (WHO), there were 228 million cases
        and 405,000 deaths worldwide in 2018 .The countries where
        the disease is endemic are referred to as the “malaria belt”.
        These locations mostly have tropical climates that are conducive
        to the breeding of mosquitoes and subsequent transmission of the
        parasite to human hosts. However, several countries that were in
        this category have managed to eliminate the disease, and have been
        declared “malaria free” by the WHO, due to a combination of programmatic
        approaches that involve early diagnosis and treatment .</h6>

</div>
			</div>

		</div>
	</div>
</section>
<!--====  End of Feature Team  ====-->
        <!-- Video Modal End -->
{%endblock%}